In [19]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

In [2]:
df = pd.read_csv('IndianMoviesRating.csv')
df

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),-2019.0,109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,-2021.0,90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,-2019.0,110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,-2010.0,105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali
...,...,...,...,...,...,...,...,...,...,...
15504,Zulm Ko Jala Doonga,-1988.0,NaN,Action,4.6,11,Mahendra Shah,Naseeruddin Shah,Sumeet Saigal,Suparna Anand
15505,Zulmi,-1999.0,129 min,"Action, Drama",4.5,655,Kuku Kohli,Akshay Kumar,Twinkle Khanna,Aruna Irani
15506,Zulmi Raj,-2005.0,NaN,Action,NaN,NaN,Kiran Thej,Sangeeta Tiwari,NaN,NaN
15507,Zulmi Shikari,-1988.0,NaN,Action,NaN,NaN,NaN,NaN,NaN,NaN
15508,Zulm-O-Sitam,-1998.0,130 min,"Action, Drama",6.2,20,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja

In [4]:
df.shape

(15509, 10)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15509 entries, 0 to 15508
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      15509 non-null  object
 1   Year      14981 non-null  float64
 2   Duration  7240 non-null   object
 3   Genre     13632 non-null  object
 4   Rating    7919 non-null   float64
 5   Votes     7920 non-null   object
 6   Director  14984 non-null  object
 7   Actor 1   13892 non-null  object
 8   Actor 2   13125 non-null  object
 9   Actor 3   12365 non-null  object
dtypes: float64(2), object(8)
memory usage: 1.2+ MB

In [8]:
df.isnull().sum()

Name           0
Year         528
Duration    8269
Genre       1877
Rating      7590
Votes       7589
Director     525
Actor 1     1617
Actor 2     2384
Actor 3     3144
dtype: int64

In [9]:
# Checking for duplicate rows
df.duplicated().sum()

6

In [10]:
df.drop_duplicates(inplace =True)

In [12]:
df['Duration'] = df['Duration'].str.replace(' min', '')
df

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),-2019.0,109,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,-2021.0,90,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,-2019.0,110,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,-2010.0,105,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali
...,...,...,...,...,...,...,...,...,...,...
15504,Zulm Ko Jala Doonga,-1988.0,NaN,Action,4.6,11,Mahendra Shah,Naseeruddin Shah,Sumeet Saigal,Suparna Anand
15505,Zulmi,-1999.0,129,"Action, Drama",4.5,655,Kuku Kohli,Akshay Kumar,Twinkle Khanna,Aruna Irani
15506,Zulmi Raj,-2005.0,NaN,Action,NaN,NaN,Kiran Thej,Sangeeta Tiwari,NaN,NaN
15507,Zulmi Shikari,-1988.0,NaN,Action,NaN,NaN,NaN,NaN,NaN,NaN
15508,Zulm-O-Sitam,-1998.0,130,"Action, Drama",6.2,20,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja

In [13]:
duplicates = df[df.duplicated(subset=['Name','Year'], keep=False)]
duplicates

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
135,A Ballad of Maladies,-2016.0,86,"Documentary, Music",NaN,NaN,Sarvnik Kaur,Tushar Madhav,NaN,NaN
136,A Ballad of Maladies,-2016.0,86,"Documentary, History, Music",NaN,NaN,Sarvnik Kaur,Tushar Madhav,NaN,NaN
585,Achanak,-1988.0,NaN,Thriller,NaN,NaN,Rakesh Kashyap,Om Puri,Kunickaa Sadanand,Kanwaljit Singh
586,Achanak,-1988.0,NaN,Drama,NaN,NaN,Kavi Raz,Alka,Amarjeet Kaur,Kavi Raz
953,Amrit,-1941.0,153,NaN,NaN,NaN,Master Vinayak,Dada Salvi,Baburao Pendharkar,Lalita Pawar
954,Amrit,-1941.0,162,NaN,NaN,NaN,Master Vinayak,Dada Salvi,Baburao Pendharkar,Lalita Pawar
2654,Campus,-2000.0,NaN,Romance,NaN,NaN,Shefali Shah,Aryan Vaid,Arif Zakaria,NaN
2655,Campus,-2000.0,NaN,Romance,NaN,NaN,NaN,NaN,NaN,NaN
4133,Dost,-1944.0,NaN,Drama,6.0,6,Shaukat Hussain Rizvi,Maya Banerjee,Husn Banu,Kanhaiyalal Chaturvedi
4137,Dost,-1944.0,NaN,Drama,NaN,NaN,Sm Yusuf,NaN,NaN,NaN
4692,Fighter,-2022.0,NaN,"Action, Thriller",NaN,NaN,Siddharth Anand,Deepika Padukone,Hrithik Roshan,Birol Tarkan Yildiz
4693,Fighter,-2022.0,NaN,"Action, Drama, Thriller",NaN,NaN,Gayatri,Pushkar,Hrithik Roshan,NaN
6062,India's Daughter,-2015.0,63,"Documentary, Biography, Crime",8.2,"1,998",Leslee Udwin,Asha Devi,Badri Singh,Satendra
6063,India's Daughter,-2015.0,120,"Action, Crime, Drama",6.9,21,Rupesh Paul,Omkar Das Manikpuri,Amann Grewal,Vishal Om Prakash
7342,Karodpati,-1936.0,NaN,NaN,NaN,NaN,Hemchandra Chunder,Sardar Akhtar,Durgadas Bannerjee,Devbala
7343,Karodpati,-1936.0,NaN,NaN,6.3,9,Radhakrishan,Shashikala,K.N. Singh,NaN
7407,Kathor,-2018.0,110,Drama,5.6,10,Karan Kashyap,Lalit Parimoo,Sheetal Dimri,Abhisek Pandey
7408,Kathor,-2018.0,NaN,Drama,NaN,NaN,Karan Kashyap,Lalit Parimoo,Sheetal Dimri,Abhisek Pandey
8070,Laila Majnu,-1931.0,NaN,NaN,NaN,NaN,J.J. Madan,Khurshid Begum,Nissar,NaN
8074,Laila Majnu,-1931.0,NaN,NaN,NaN,NaN,Kanjibhai Rathod,Ghaznavi,Jehanara Kajjan,Rampiary
8382,Luka Chuppi,-2019.0,126,"Comedy, Romance",6.3,"8,808",Laxman Utekar,Kartik Aaryan,Kriti Sanon,Aparshakti Khurana
8383,Luka Chuppi,-2019.0,NaN,Comedy,NaN,NaN,Maan Rajnish,NaN,NaN,NaN
8727,Majboor,-1948.0,NaN,"Drama, Romance",NaN,NaN,Nazir Ajmeri,Indurani,Shyam Sohan,Munawwar Sultana
8730,Majboor,-1948.0,NaN,"Drama, Family",NaN,NaN,Arvind Sen,Nalini Jaywant,Kishore Kumar,Sajjan
8850,Manohara,-1954.0,199,NaN,7.3,46,L.V. Prasad,Shivaji Ganesan,Girija,Kannamba
8851,Manohara,-1954.0,NaN,NaN,NaN,NaN,L.V. Prasad,Kannamba,Pandharibai,NaN
10023,Natth,-2000.0,NaN,Drama,NaN,NaN,NaN,NaN,NaN,NaN
10024,Natth,-2000.0,NaN,Drama,NaN,NaN,Kamdar,NaN,NaN,NaN
12420,Sant Dnyaneshwar,-1940.0,139,Fantasy,7.9,45,Vishnupant Govind Damle,Sheikh Fattelal,Shahu Modak,Datta Dharmadhikari
12421,Sant Dnyaneshwar,-1940.0,137,Biography,8.1,9,Vishnupant Govind Damle,Sheikh Fattelal,Shahu Modak,Datta Dharmadhikari
12683,Seema,-1971.0,NaN,"Drama, Family",6.0,13,Surendra Mohan,Rakesh Roshan,Kabir Bedi,Simi Garewal
12684,Seema,-1971.0,NaN,"Crime, Drama, Mystery",NaN,NaN,Suraj Prakash,Rajesh Khanna,Meena Kumari,NaN
12847,Shakuntala,-1931.0,NaN,NaN,NaN,NaN,Mohan Dayaram Bhavnani,Khurshid Begum,Nawab,Nissar
12848,Shakuntala,-1931.0,NaN,NaN,NaN,NaN,J.J. Madan,NaN,NaN,NaN
14880,Vikram,-1986.0,136,"Action, Adventure, Sci-Fi",7.3,504,Rajasekar,Kamal Haasan,Sathyaraj,Ambika
14881,Vikram,-1986.0,NaN,"Action, Drama, Romance",7.1,38,V. Madhusudan Rao,Nagarjuna Akkineni,Shobana,Annapoorna

In [14]:
df.drop_duplicates(subset=['Name', 'Year'], keep='first', inplace=True)
df

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),-2019.0,109,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,-2021.0,90,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,-2019.0,110,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,-2010.0,105,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali
...,...,...,...,...,...,...,...,...,...,...
15504,Zulm Ko Jala Doonga,-1988.0,NaN,Action,4.6,11,Mahendra Shah,Naseeruddin Shah,Sumeet Saigal,Suparna Anand
15505,Zulmi,-1999.0,129,"Action, Drama",4.5,655,Kuku Kohli,Akshay Kumar,Twinkle Khanna,Aruna Irani
15506,Zulmi Raj,-2005.0,NaN,Action,NaN,NaN,Kiran Thej,Sangeeta Tiwari,NaN,NaN
15507,Zulmi Shikari,-1988.0,NaN,Action,NaN,NaN,NaN,NaN,NaN,NaN
15508,Zulm-O-Sitam,-1998.0,130,"Action, Drama",6.2,20,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja

In [15]:
df.dropna()
df

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),-2019.0,109,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,-2021.0,90,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,-2019.0,110,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,-2010.0,105,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali
...,...,...,...,...,...,...,...,...,...,...
15504,Zulm Ko Jala Doonga,-1988.0,NaN,Action,4.6,11,Mahendra Shah,Naseeruddin Shah,Sumeet Saigal,Suparna Anand
15505,Zulmi,-1999.0,129,"Action, Drama",4.5,655,Kuku Kohli,Akshay Kumar,Twinkle Khanna,Aruna Irani
15506,Zulmi Raj,-2005.0,NaN,Action,NaN,NaN,Kiran Thej,Sangeeta Tiwari,NaN,NaN
15507,Zulmi Shikari,-1988.0,NaN,Action,NaN,NaN,NaN,NaN,NaN,NaN
15508,Zulm-O-Sitam,-1998.0,130,"Action, Drama",6.2,20,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja

In [16]:
df.dtypes

Name         object
Year        float64
Duration     object
Genre        object
Rating      float64
Votes        object
Director     object
Actor 1      object
Actor 2      object
Actor 3      object
dtype: object

In [17]:
import numpy as np
df['Year'] = df['Year'].replace('', np.nan).fillna(0).astype(int)
df['Duration'] = df['Duration'].replace('', np.nan).fillna(0).astype(int)
df['Votes'] = df['Votes'].str.replace(',', '')
df['Votes'] = df['Votes'].str.replace('[^0-9]', '', regex=True)
df['Votes'] = df['Votes'].replace('', np.nan).fillna(0).astype(int)
df.dtypes

Name         object
Year          int32
Duration      int32
Genre        object
Rating      float64
Votes         int32
Director     object
Actor 1      object
Actor 2      object
Actor 3      object
dtype: object

In [27]:
# Replace missing 'Rating' values with the mean
mean_rating = df['Rating'].mean()
df['Rating'].fillna(mean_rating, inplace=True)

In [28]:
df['Actor 1'].nunique()

4717

In [30]:
# Encode categorical features using Label Encoding
label_encoder = LabelEncoder()

In [31]:
df['Genre'] = label_encoder.fit_transform(df['Genre'])
df['Director'] = label_encoder.fit_transform(df['Director'])
df['Actor 1'] = label_encoder.fit_transform(df['Actor 1'])
df['Actor 2'] = label_encoder.fit_transform(df['Actor 2'])
df['Actor 3'] = label_encoder.fit_transform(df['Actor 3'])

## Split the data into training and testing sets

In [53]:
X = df.drop('Rating', axis=1)
y = df['Rating']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [54]:
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

## Model Evaluation

In [55]:
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'Root Mean Squared Error: {rmse}')
print(f'R-squared: {r2}')

Mean Squared Error: 0.6180886385177397
Root Mean Squared Error: 0.7861861347783613
R-squared: 0.355057321397811

In [34]:
df.isnull().sum()

Name        0
Year        0
Duration    0
Genre       0
Rating      0
Votes       0
Director    0
Actor 1     0
Actor 2     0
Actor 3     0
dtype: int64

In [59]:
import pandas as pd

# Load your dataset (replace 'your_dataset.csv' with the actual file path)
df = pd.read_csv('IndianMoviesRating.csv')

# Check if the dataset is empty
if df.shape[0] == 0:
    print("Error: The dataset is empty. Check your data source and preprocessing.")
else:
    # Proceed with your data preprocessing and modeling steps
    # ...

# Ensure that your dataset contains at least one sample before proceeding with machine learning operations.

IndentationError: expected an indented block (1431449016.py, line 13)

In [62]:
from sklearn.ensemble import RandomForestRegressor

# Separate data into rows with and without missing 'Rating' values
df_with_rating = df.dropna(subset=['Rating'])
df_missing_rating = df[df['Rating'].isnull()]

In [64]:
# Split data_with_rating into X and y
X_train = df_with_rating.drop('Rating', axis=1)
y_train = df_with_rating['Rating']

In [65]:
# Train a regression model
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [67]:
# Predict missing 'Rating' values
X_missing = df_missing_rating.drop('Rating', axis=1)
predicted_ratings = model.predict(X_missing)

ValueError: Found array with 0 sample(s) (shape=(0, 8)) while a minimum of 1 is required.

In [68]:
# Update the original dataframe with predicted ratings
df.loc[df['Rating'].isnull(), 'Rating'] = predicted_ratings

NameError: name 'predicted_ratings' is not defined

In [69]:
# Create a DataFrame to compare original 'Rating' and predicted 'Rating'
y_comparison = pd.DataFrame({'Original': y_test, 'Predicted': y_pred})
print(y_comparison.head())

       Original  Predicted
8174   5.900000   5.487000
15176  5.840985   5.840985
13857  5.840985   5.840985
13301  5.800000   4.194000
3883   5.840985   5.840985